---
default_stages: [pre-commit]
repos:
- repo: https://github.com/gruntwork-io/pre-commit
  rev: v0.1.30
  hooks:
  - id: terraform-fmt
  - id: gofmt
- repo: local
  hooks:
  - id: update-docs
    name: docs should be up-to-date
    language: system
    pass_filenames: false
    entry: make docs-check
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.36.0
  hooks:
  - id: check-github-actions
    additional_dependencies:
    - pip_system_certs==4.0
  - id: check-dependabot
    additional_dependencies:
    - pip_system_certs==4.0
- repo: https://github.com/google/yamlfmt
  rev: v0.21.0
  hooks:
  - id: yamlfmt
# The markdown-link-check can't access internal or private repos, see
# .markdown_link_check_config.json on how to exclude patterns
- repo: https://github.com/tcort/markdown-link-check
  rev: v3.14.2
  hooks:
  - id: markdown-link-check
    args: [--quiet, --config=.markdown_link_check_config.json]
    stages: [pre-commit]
- repo: https://github.com/Mateusz-Grzelinski/actionlint-py
  rev: v1.7.10.24
  hooks:
  - id: actionlint
    additional_dependencies: [pyflakes>=3.0.1, shellcheck-py>=0.9.0.5]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
  - id: shellcheck
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: 3.6.0
  hooks:
  - id: editorconfig-checker
    alias: ec
# this should go last since it will fix line endings broken by other tools
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: no-commit-to-branch
    args: [--branch, main]
  - id: trailing-whitespace
    stages: [pre-commit]
  - id: check-added-large-files
    stages: [pre-commit]
  - id: check-case-conflict
  - id: mixed-line-ending
    args: [--fix=lf]
    stages: [pre-commit]
  - id: end-of-file-fixer
    stages: [pre-commit]
    exclude: ^docs/.*\.md$
  - id: check-yaml
  - id: check-xml
  - id: check-json
  - id: check-toml
  - id: pretty-format-json
    args: [--autofix, --no-sort-keys, --indent=4]
    exclude: .*\.ipynb$
  - id: check-symlinks
  - id: debug-statements
  - id: fix-byte-order-marker
