---
name: Pre-commit
on:
  pull_request:
  push:
    branches:
    - main
  merge_group:
permissions:
  contents: read
jobs:
  pre-commit:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - uses: actions/setup-go@v6.1.0
      with:
        go-version: ${{ vars.CI_GO_VERSION }}
    - uses: hashicorp/setup-terraform@v3
    - uses: pre-commit/action@v3.0.1
