---
name: Test
on:
  pull_request:
  push:
    branches:
    - main
  merge_group:
permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - uses: actions/setup-go@v6.1.0
      with:
        go-version: ${{ vars.CI_GO_VERSION }}
    - name: Unit tests (with coverage)
      run: make test-coverage
    - name: Upload coverage to Codecov (unit)
      uses: codecov/codecov-action@v5
      with:
        files: ./coverage/coverage.out
        flags: unit
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
  acceptance-tests:
    runs-on: ubuntu-24.04
    concurrency: acceptance-tests
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - uses: actions/setup-go@v6.1.0
      with:
        go-version: ${{ vars.CI_GO_VERSION }}
    - name: Acceptance tests (with coverage)
      run: make testacc-coverage
      env:
        TF_ACC: "true"
        SONARCLOUD_ORGANIZATION: ${{ secrets.ACC_TEST_SONARCLOUD_ORGANIZATION }}
        SONARCLOUD_TOKEN: ${{ secrets.ACC_TEST_SONARCLOUD_TOKEN }}
        SONARCLOUD_TEST_USER_LOGIN: ${{ secrets.ACC_TEST_SONARCLOUD_TEST_USER_LOGIN }}
        SONARCLOUD_TEST_GROUP_NAME: ${{ secrets.ACC_TEST_SONARCLOUD_GROUP_NAME }}
        SONARCLOUD_TOKEN_TEST_USER_LOGIN: ${{ secrets.ACC_TEST_SONARCLOUD_TOKEN_TEST_USER_LOGIN }}
        SONARCLOUD_PROJECT_KEY: ${{ secrets.ACC_TEST_SONARCLOUD_PROJECT_KEY }}
        SONARCLOUD_QUALITY_GATE_NAME: ${{ secrets.ACC_TEST_SONARCLOUD_QUALITY_GATE_NAME }}
        SONARCLOUD_QUALITY_GATE_ID: ${{ secrets.ACC_TEST_SONARCLOUD_QUALITY_GATE_ID }}
    - name: Upload coverage to Codecov (acceptance)
      uses: codecov/codecov-action@v5
      with:
        files: ./coverage/coverage.out
        flags: acceptance
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
  e2e-tests:
    runs-on: ubuntu-24.04
    # no use running this if lower level tests failed
    needs: [acceptance-tests, test]
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - uses: actions/setup-go@v6.1.0
      with:
        go-version: ${{ vars.CI_GO_VERSION }}
    - name: End to end tests
      run: make e2e
      env:
        SONARCLOUD_ORGANIZATION: ${{ secrets.ACC_TEST_SONARCLOUD_ORGANIZATION }}
        SONARCLOUD_TOKEN: ${{ secrets.ACC_TEST_SONARCLOUD_TOKEN }}
        SONARCLOUD_TEST_USER_LOGIN: ${{ secrets.ACC_TEST_SONARCLOUD_TEST_USER_LOGIN }}
        SONARCLOUD_TEST_GROUP_NAME: ${{ secrets.ACC_TEST_SONARCLOUD_GROUP_NAME }}
        SONARCLOUD_TOKEN_TEST_USER_LOGIN: ${{ secrets.ACC_TEST_SONARCLOUD_TOKEN_TEST_USER_LOGIN }}
        SONARCLOUD_PROJECT_KEY: ${{ secrets.ACC_TEST_SONARCLOUD_PROJECT_KEY }}
        SONARCLOUD_QUALITY_GATE_NAME: ${{ secrets.ACC_TEST_SONARCLOUD_QUALITY_GATE_NAME }}
        SONARCLOUD_QUALITY_GATE_ID: ${{ secrets.ACC_TEST_SONARCLOUD_QUALITY_GATE_ID }}
